*:focus {
    outline: none;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0 !important;
  font-family: Arial;
}

.feed-container {
	margin: 3% 25%;
	overflow: auto;
}

.feed-container img {
	display: block;
	width: 90%;
	margin: 1rem auto 0.4rem auto;
}

.like-button {
	display: block;
	width: 5rem;
	height: 3rem;
	margin: 0 auto 0 5%;
	background-color: rgba(246, 100, 64, 0.775);
}

.comment-button {
	display: block !important;
	width: 90%;
	margin: 0 auto 0 auto !important;
	background-color: lightskyblue;
}

textarea {
	display: block;
	resize: none;
	width: 90%;
	margin: 0.4rem auto 0.2rem auto !important;
}

.author {
	margin-left: 5%;
	font-weight: 100;
}

.post {
	margin-bottom: 4%;
}

.paginator {
	border: 0px solid black;
}

.comment {
	margin: 0.5rem 5% 0.5rem 5%;
}
