*:focus {
    outline: none;
}

.frame {
	margin: 0;
	display: flex;
}
#canvas {
	display: none;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
}

/* The grid: Four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
  padding: 0px;
}

/* Style the images inside the grid */
.column img {
  opacity: 0.8; 
  cursor: pointer; 
}

.column img:hover {
  opacity: 1;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* The expanding image container */
.container {
  position: relative;
  display: none;
}

/* Closable button inside the expanded image */
.closebtn {
  position: absolute;
  top: 10px;
  right: 15px;
  color: white;
  font-size: 35px;
  cursor: pointer;
  color: black;
}

#video {
	position: relative;
	top: 0;
	left: 0;
	z-index: 1;
}

#expandedImg {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 3;
}

.feed-container {
	margin: 3% 25%;
	overflow: auto;
}

.feed-container img {
	display: block;
	width: 90%;
	margin: 1rem auto 0.4rem auto;
}

.like-button {
	display: block;
	width: 5rem;
	height: 3rem;
	margin: 0 auto 0 5%;
	background-color: rgba(246, 100, 64, 0.775);
}

.comment-button {
	display: block;
	width: 90%;
	margin: 0 auto 0 auto;
	background-color: lightskyblue;
}

textarea {
	display: block;
	resize: none;
	width: 90%;
	margin: 0.4rem auto 0.2rem auto;
}

.author {
	margin-left: 5%;
}

.comment {
	margin: 0.5rem 5% 0.5rem 5%;
}
