*:focus {
    outline: none;
}

body {
	margin: 0 !important;
}
  
.feed-container {
	margin: 3% 25%;
	overflow: auto;
}

.feed-container img {
	display: block;
	width: 100%;
	max-width: 100%;
	margin: 0rem auto 0rem auto;
}

.overlay {
	position: absolute; 
	bottom: 0; 
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.5); /* Black see-through */
	color: #f1f1f1; 
	width: 100%;
	transition: .5s ease;
	opacity:0;
	color: white;
	font-size: 20px;
	padding: 5px;
	/* text-align: center; */
}
  
.image-container:hover .overlay {
	opacity: 1;
}

.image-container {
	position: relative;
}

/* .image-container .content {
	position: absolute;
	bottom: 0;
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.5);
	color: #f1f1f1;
	width: 100%;
} */

.more-button {
	margin: 0% !important;
	padding: 0% !important;
}
  

.card {
	max-width: none !important;
	width: 95% !important;
	padding: auto;
}
  
.author {
	  font-weight: 100;
	  padding: 0 !important;
}

.like-button {
	  display: block;
	  margin: 1rem auto 1rem 3% !important;

}
  
.comment-button {
	  display: block !important;
	  width: 94%;
	  margin: 0 auto 1rem 3% !important;
	  background-color: lightskyblue;
}
  
textarea {
	  display: block;
	  resize: none;
	  width: 94%;
	  margin: 0.4rem 3% 0.2rem 3% !important;
}

.post {
	  margin-bottom: 4%;
}
  
.paginator {
	  border: 0px solid black;
	  padding: 0 !important;
	  margin: 0% !important;
}

.comment {
	  margin: 0.5rem 3% 0.5rem 3%;
}

.del-button {
	margin-left: 0% !important;
}

::-webkit-scrollbar {
	width: 5px;
}
 
 /* Track */
::-webkit-scrollbar-track {
	background: #050505; 
}
  
 /* Handle */
::-webkit-scrollbar-thumb {
	background: rgb(46, 44, 44); 
}
 
 /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555; 
}
