*:focus {
    outline: none;
}

header {
	width: 100%;
}
header.sticky {
	opacity: 0.5;
	border-bottom: 0px solid black;
	transition: opacity 1s;
}
header.sticky:hover {
	opacity: 1;
	transition: opacity 1s;
}

footer {
	padding: 0 !important;
	border-top: 0px solid black !important;
	opacity: 0.8;
	margin: 0% !important;
}

header.logout-header {
	opacity: 0;
}

header.logout-header:hover {
	opacity: 0;
	transition: opacity 1s;
}

