body {
	margin: 0% !important;
	padding: 0% !important;
}
#back {
	height: 100vh;
	background-image: url(../wallpaper/wallpaper.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	display: block;
}

#cama{
	text-align: center;
	margin-top: 15%;
	font-size: 5rem;
}

#logout {
	text-align: center;
	font-size: 5rem;
	margin-top: 15%;
}

#home-button {
	text-align: center;
}
