body {
	margin: 0% !important;
	padding: 0% !important;
}

#one-time-alarm {
	text-align: center;
}

#back {
	height: 100vh;
	background-image: url(../background/wallpaper.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	display: block;
}

#cama{
	text-align: center;
	margin: 15% 5% auto 5%;
	font-size: 5rem;
}

#logout {
	text-align: center;
	font-size: 5rem;
	margin: 15% 5% auto 5%;
}

#home-button {
	text-align: center;
}

@media only screen and (max-width: 425px) {
	#welcome {
		display: none;
	}
	header {
		text-align: center;
	}
	header a > button{
		font-size: 0.7rem;
	}
	#cama {
		font-size: 2rem !important;
	}
	#logout {
		font-size: 2rem !important;
	}
}


@media only screen and (max-width: 336px) {
	header a > button{
		font-size: 0.6rem !important;
	}
	#cama {
		font-size: 2rem !important;
	}
	#logout {
		font-size: 2rem !important;
	}
}
