.login-register {
	margin: 15% 30% auto 30%;
}
.login-register-edit {
	margin: 2% 30% 2% 30% !important;
}

.login-register-edit:last-child {
	margin-bottom: 15% !important;
}

span.editing-toast{
	bottom: 6rem !important;
}
