body {
  margin: 0 !important;
  font-family: Arial;
}

*:focus {
    outline: none;
}

.frame {
	margin: 1rem 1rem 0rem 1rem !important;
	display: flex;
}

#canvas {
	display: none;
}

/* PNGs!!! */
.column {
  /* float: left; */
  width: 25%;
  padding: 0px !important;
  display: inline-block !important;

}

/* Style the images inside the grid */
.column img {
  opacity: 0.7; 
  cursor: pointer; 
}

.column img:hover {
  opacity: 0.9;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  /* display: table !important; */
  clear: both;
}

.row {
	display: block !important;
	overflow: auto !important;
	white-space: nowrap;
	margin: 1rem 1rem 0rem 1rem !important;
}

/* The expanding image container */
.container {
	position: relative;
	display: none;
	padding: 0 !important;
}

.video1, .container {
	position: relative;
	padding: 0 !important;
	margin: 0% auto 0% 30% !important;
}

/* Closable button inside the expanded image */
.closebtn {
  position: absolute;
  top: 10px;
  right: 15px;
  color: white;
  font-size: 35px;
  cursor: pointer;
}

#video {
	position: relative;
	top: 0;
	left: 0;
	z-index: 1;
}

#video1 {
	display: flex;
}

#expandedImg {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 3;
}

#thumb {
	padding: 0% !important;
	width: 80%;
	overflow-y: scroll;
	height: 80vh;
}

#thumb img {
	width: 100%;
}

#thumb button {
	width: 100%;
	margin: 0 0 1rem 0 !important;
}

#picture-png-buttons {
	display: inline-block !important;
}

::-webkit-scrollbar {
	width: 5px;
}
 
 /* Track */
::-webkit-scrollbar-track {
	background: #050505; 
}
  
 /* Handle */
::-webkit-scrollbar-thumb {
	background: rgb(46, 44, 44); 
}
 
 /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555; 
}
